myenv/
services/tp.txt
services/email_deamon/.env
services/email_deamon/email_credentials.json
services/email_deamon/credentials.json
services/email_deamon/token.pickle
services/email_deamon/.venv
Asim/meet/.env
Asim/test.txt
Asim/meet/.composio.lock
Asim/meet/credentials.json
Asim/notion/.env
Asim/notion/.composio.lock
Asim/notion/data.py
Asim/notion/notion_mock_tasks.csv
Asim/notion/analysis_results.json
Asim/notion/app.log
Asim/notion/templates/
testing/
audio/
Asim/audio_summary/audio_server.log
Asim/audio_summary/.env
Asim/audio_summary/meeting_service.log
Asim/audio_summary/.composio.lock
Asim/reminder/node_modules/
Asim/reminder/.env
